.pagination-container { text-align: center; }

.entry-container {
    margin: 0 auto;
    max-width: 450px;
}

.validation-summary-errors ul {
    list-style: square;
    margin-bottom: 0;
    padding-left: 20px;
}